@mixin element-plus-enhancements {
    --el-transition-duration-fast: 0.1s;

    .el-text-alignment-fix--sm--above {
        margin-top: 0.05em;
    }
    .el-text-alignment-fix--sm--below {
        margin-bottom: 0.05em;
    }
    .el-text-alignment-fix--above {
        margin-top: 0.1em;
    }
    .el-text-alignment-fix--below {
        margin-bottom: 0.1em;
    }

    .has-color-primary {
        color: var(--el-color-primary);
    }
    .has-text-color-primary {
        color: var(--el-text-color-primary);
    }
    .has-text-color-regular {
        color: var(--el-text-color-regular);
    }
    .has-text-color-secondary {
        color: var(--el-text-color-secondary);
    }
    .has-text-color-placeholder {
        color: var(--el-text-color-placeholder);
    }
    .has-text-color-fill {
        color: var(--el-fill-color);
    }
    .has-text-color-fill-dark {
        color: var(--el-fill-color-dark);
    }
    .has-text-color-fill-darker {
        color: var(--el-fill-color-darker);
    }

    .el-alert--info.is-light {
        color: var(--ogr-alert-info-color);
    }

    .el-auto-grid {
        --item-desired-width: 10rem;

        display: grid;
        flex-direction: row;
        grid-auto-rows: max-content;
        grid-template-columns: repeat(auto-fit, minmax(var(--item-desired-width, 10rem), 1fr));
        column-gap: var(--column-gap, 0px);
        row-gap: var(--row-gap, 0px);
    }

    .el-button {
        --el-border-radius-base: 0.75rem;

        height: auto;
        min-height: 2.5rem;
        padding: 0.75rem 1.25rem;
        transition: transform 0.25s;

        &.is-circle {
            padding: 0.75rem;
        }

        &:active {
            transform: scale(0.97);
        }
    }
    .el-button--small {
        --el-border-radius-base: 0.5rem;

        min-height: 2rem;
        padding: 0.5625rem 0.9375rem;
        font-size: 0.75rem;

        &:active {
            transform: scale(0.94);
        }
    }
    .el-button--no-hover {
        &:hover, &:focus {
            --el-button-hover-text-color: var(--el-button-text-color);
            --el-button-hover-border-color: var(--el-button-border-color);
            --el-button-hover-bg-color: var(--el-button-bg-color);
        }
    }

    .el-button-group {
        > .el-input {
            float: left;
            width: 6rem;
            margin-right: -0.0625rem;

            > .el-input__wrapper {
                border-radius: 0;
                transition: none;
            }
            &:first-child {
                > .el-input__wrapper {
                    border-top-left-radius: var(--ogr-border-radius);
                    border-bottom-left-radius: var(--ogr-border-radius);
                }
            }
            &:last-child {
                margin-right: 0;

                > .el-input__wrapper {
                    border-top-right-radius: var(--ogr-border-radius);
                    border-bottom-right-radius: var(--ogr-border-radius);
                }
            }

            &:hover {
                z-index: 1;
            }
            &:focus-within {
                z-index: 1;
            }
        }

        > .el-select {
            float: left;
            width: 6rem;
            margin-right: -0.0625rem;

            > .select-trigger > .el-input > .el-input__wrapper {
                border-radius: 0;
                transition: none;
            }

            &:first-child {
                > .select-trigger > .el-input > .el-input__wrapper {
                    border-top-left-radius: var(--ogr-border-radius);
                    border-bottom-left-radius: var(--ogr-border-radius);
                }
            }
            &:last-child {
                margin-right: 0;

                > .select-trigger > .el-input > .el-input__wrapper {
                    border-top-right-radius: var(--ogr-border-radius);
                    border-bottom-right-radius: var(--ogr-border-radius);
                }
            }

            &:hover {
                z-index: 1;
            }
            &:focus-within {
                z-index: 1;
            }
        }

        &.el-button-group--flex {
            display: inline-flex;
            flex-direction: row;
            align-items: stretch;

            > .el-input {
                > .el-input__wrapper {
                    height: 100%;
                }
            }
        }
    }

    .el-card--link {
        cursor: pointer;

        &:hover {
            transform: scale(102.5%);
            transition: transform 0.3s;
        }
    }

    .el-collapse--menu-item {
        .el-collapse-item__header {
            font-size: 0.875rem;
            padding-left: 1.25rem;
            padding-right: 0.5rem;
        }
        .el-collapse-item__content {
            padding-bottom: 0.5rem;
        }
    }

    .el-color-picker__color {
        background-image: url("../images/transparency-bg.png");
    }

    .el-dialog {
        --el-dialog-border-radius: 0.875rem;

        &.el-dialog--ogr-dock {
            .el-dialog__body {
                padding: 0 !important;
            }
        }
        .el-dialog__header + .el-dialog__body {
            padding-top: 0.75rem;
        }

        .el-dialog__body {
            p {
                line-height: 1.4;
            }
        }

        &.el-dialog--loading {
            opacity: 0 !important;
        }
    }

    .el-drawer {
        .el-drawer__body {
            position: relative;
        }
    }

    .el-form--default .el-form-item .el-form-item__label,
    .el-form-item--default .el-form-item__label {
        line-height: 2.5rem;
        min-height: 2.5rem;
    }

    .el-form-item {
        &.el-form-item--menu-item {
            display: flex;
            padding: 0 1.25rem;
            margin: 0;
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;

            > .el-form-item__label {
                flex-basis: auto;
                flex-shrink: 0;
                flex-grow: 1;
                text-align: left;
                justify-content: flex-start;
            }

            > .el-form-item__content {
                flex-basis: auto;
                flex-grow: 0;
                flex-shrink: 0;

                > .el-button-group,
                > .el-radio-group {
                    flex-wrap: nowrap;
                    overflow-wrap: normal;
                    word-break: normal;
                    white-space: nowrap;
                }
                > .el-button-group > .el-button {
                    float: none;
                }
            }
        }
        &.el-form-item--has-content-right {
            > .el-form-item__content {
                text-align: right;
            }
        }

        &.el-form-item--small-label {
            --el-form-label-font-size: 0.8125rem;
        }
    }

    .el-form-item-group {
        --label-min-width: 0px;
        margin-bottom: 1.375rem;

        .el-form-item {
            display: flex;
            margin: 0;

            .el-form-item__label {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            .el-form-item__content > .el-input > .el-input__wrapper,
            .el-form-item__content > .el-input-group > *:last-child,
            .el-form-item__content > .el-row > .el-col > .el-input > .el-input__wrapper,
            .el-form-item__content > .el-row > .el-col > .el-input-group > *:last-child,
            .el-form-item__content > .el-select > .select-trigger > .el-input > .el-input__wrapper,
            .el-form-item__content > .el-input-group > .el-input-group__append > .el-select > .select-trigger > .el-input > .el-input__wrapper,
            .el-form-item__content > .el-switch {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:first-child {
                .el-form-item__label {
                    border-top-left-radius: var(--ogr-border-radius);
                }
                .el-form-item__content > .el-input > .el-input__wrapper,
                .el-form-item__content > .el-input-group > *:last-child,
                .el-form-item__content > .el-row > .el-col:last-child > .el-input-group > *:last-child,
                .el-form-item__content > .el-select > .select-trigger > .el-input > .el-input__wrapper,
                .el-form-item__content > .el-input-group > .el-input-group__append > .el-select > .select-trigger > .el-input > .el-input__wrapper,
                .el-form-item__content > .el-switch {
                    border-top-right-radius: var(--ogr-border-radius);
                }
            }
            &:last-child {
                .el-form-item__label {
                    border-bottom-left-radius: var(--ogr-border-radius);
                }
                .el-form-item__content > .el-input > .el-input__wrapper,
                .el-form-item__content > .el-input-group > *:last-child,
                .el-form-item__content > .el-row > .el-col:last-child > .el-input-group > *:last-child,
                .el-form-item__content > .el-select > .select-trigger > .el-input > .el-input__wrapper,
                .el-form-item__content > .el-input-group > .el-input-group__append > .el-select > .select-trigger > .el-input > .el-input__wrapper,
                .el-form-item__content > .el-switch {
                    border-bottom-right-radius: var(--ogr-border-radius);
                }
            }

            + .el-form-item {
                margin-top: -0.0625rem;
            }

            .el-form-item__label {
                background-color: var(--ogr-form-connected-label-background-color);
                border: 0.0625rem solid var(--ogr-form-connected-label-border-color);
                border-right: none;
                min-width: var(--label-min-width);
                line-height: 1;
                height: auto;
                display: flex;
                flex-shrink: 0;
                flex-grow: 0;
                align-items: center;
                padding: 0 0.9375rem;
            }

            .el-form-item__content {
                flex-grow: 1;
                margin: 0;

                &:hover {
                    z-index: 1;
                }
                &:focus-within { 
                    z-index: 2;
                }

                .el-row {
                    width: 100%;
                }

                > .el-select,  > .el-input {
                    width: 100%;
                    .el-input__wrapper {
                        background-color: var(--ogr-form-connected-label-input-focus-color);
                    }
                }

                .el-input {
                    .el-input__wrapper {
                        &:hover {
                            z-index: 1;
                        }
                        &.is-focus {
                            z-index: 2;
                        }
                    }

                    &.is-focus {
                        z-index: 2;
                    }
                }

                .el-slider {
                    box-sizing: border-box;
                    padding-left: 0.9375rem;
                    padding-right: 0.9375rem;
                    border-top: 0.0625rem solid var(--ogr-form-connected-label-border-color) !important;
                    border-bottom: 0.0625rem solid var(--ogr-form-connected-label-border-color) !important;
                }
                > .el-slider {
                    &:last-child {
                        border-right: 0.0625rem solid var(--ogr-form-connected-label-border-color) !important;
                    }
                }
                > .el-row > .el-col > .el-slider {
                    height: 100%;
                }
                > .el-row > .el-col:last-child > .el-slider {
                    border-right: 0.0625rem solid var(--ogr-form-connected-label-border-color) !important;
                }
                > .el-row:first-child > .el-col:first-child > .el-slider {
                    border-left: 0.0625rem solid var(--ogr-form-connected-label-border-color) !important;
                }

                > .el-switch {
                    box-sizing: border-box;
                    border: 0.0625rem solid var(--ogr-form-connected-label-border-color);
                    height: 100%;
                    padding: 0 0.5rem;
                    width: 100%;
                }

                > .el-select, .el-input:not(.el-input-group) {
                    display: block;

                    .el-input__wrapper {
                        display: flex;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-left-width: 0 !important;
                        border-top-color: var(--ogr-form-connected-label-border-color) !important;
                        border-bottom-color: var(--ogr-form-connected-label-border-color) !important;
                        border-right-color: var(--ogr-form-connected-label-border-color) !important;
                    }
                }

                &, & > .el-row > .el-col {
                    > .el-input.el-input-group {
                        > .el-input__wrapper {
                            border-radius: 0;
                            border-left-width: 0 !important;
                            border-right-width: 0 !important;
                            border-top-color: var(--ogr-form-connected-label-border-color) !important;
                            border-bottom-color: var(--ogr-form-connected-label-border-color) !important;
                        }
                    }
                }

                .el-input-group__append {
                    background-color: var(--ogr-form-connected-label-background-color);
                    box-sizing: border-box;
                    padding-left: 0.9375rem;
                    padding-right: 0.9375rem;

                    > .el-select {
                        margin: -0.0625rem -1rem;

                        .el-input__wrapper {
                            margin-right: 0.0625rem;
                            border-radius: 0;
                        }
                    }
                }

                .el-form-item__error {
                    background: #FFF4F4;
                    border-right: 0.0625rem solid #FDD6D6;
                    padding: 0.5rem 0.9375rem;
                    position: static;
                    top: 0;
                    animation: none !important;
                    transition: none !important;
                }
            }
        }

        &.el-form-item-group--resetable {
            .el-form-item {
                > .el-form-item__content {
                    position: relative;

                    > .el-row,
                    > .el-input,
                    > .el-select,
                    > .el-switch {
                        width: calc(100% - 2rem);
                    }

                    .el-button.el-button--form-item-reset {
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }

    .el-horizontal-scrollbar-arrows {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        align-items: stretch;
        height: 3.5rem;

        > .el-scrollbar {
            height: auto;
            > * > .el-scrollbar__view {
                display: flex;
                height: 100%;

                .el-form-item {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .el-radio-group {
                    flex-wrap: nowrap;
                }
            }
        }

        > .el-button {
            box-shadow: 0 0 59px #dfdfdf;
            z-index: 10;
        }
    }
    .pl-el-scrollbar-arrow-size {
        padding-left: 2rem !important;
    }
    .pr-el-scrollbar-arrow-size {
        padding-right: 2rem !important;
    }

    .el-input {
        --el-input-border-radius: 0.5rem;
    }
    .el-input__wrapper {
        height: 2.5rem;
        line-height: 2.5rem;
        padding-top: 0;
        padding-bottom: 0;
        // padding: 0 0.9375rem;
    }
    .el-input--text-left {
        > .el-input__wrapper > .el-input__inner,
        > .el-input__inner {
            text-align: left;
        }
    }
    .el-input--text-right {
        > .el-input__wrapper > .el-input__inner,
        > .el-input__inner {
            text-align: right;
        }
    }
    .el-input--text-center {
        > .el-input__wrapper > .el-input__inner,
        > .el-input__inner {
            text-align: center;
        }
    }
    .el-input--small {
        font-size: 0.8125rem;
        line-height: 2rem;

        .el-input__wrapper,
        .el-color-picker {
            height: 2rem;
            line-height: 2rem;
            padding-top: 0;
            padding-bottom: 0;
        }

        &.el-input-group {
            .el-input-group__prepend, .el-input-group__append {
                padding: 0 .75rem;
            }
            .el-input__wrapper,
            .el-color-picker {
                height: 2.125rem;
                line-height: 2.125rem;
            }
        }
    }
    .el-input-group {
        .el-color-picker .el-color-picker__trigger {
            border-radius: 0;
        }
        .el-color-picker:first-child .el-color-picker__trigger {
            border-top-left-radius: var(--el-input-border-radius, var(--el-border-radius-base));
            border-bottom-left-radius: var(--el-input-border-radius, var(--el-border-radius-base));
        }
        .el-color-picker:last-child .el-color-picker__trigger {
            border-top-right-radius: var(--el-input-border-radius, var(--el-border-radius-base));
            border-bottom-right-radius: var(--el-input-border-radius, var(--el-border-radius-base));
        }
    }
    .el-input-group--prepend {
        > .el-select {
            .el-input__wrapper {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        > .el-input {
            > .el-input__wrapper {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
    .el-input-group--plain {
        .el-input-group__prepend, .el-input-group__append {
            background: transparent;
            border-color: transparent;
            box-shadow: none;
            color: var(--el-text-color-regular);

            + .el-input__wrapper,
            + .el-color-picker {
                border-radius: var(--el-input-border-radius, var(--el-border-radius-base));
            }
        }
        .el-input-group__prepend {
            padding-left: 0 !important;
        }
        .el-input-group__append {
            padding-right: 0 !important;
        }
    }

    .el-loading-spinner {
        margin: 0 !important;
        transform: translate(0, -50%);
    }

    .el-menu {
        &.el-menu--borderless {
            border: none !important;
        }
        &.el-menu--medium {
            .el-menu-item {
                height: 2.5rem;
                line-height: 2.5rem;
            }
            > .el-divider {
                margin: 0.25rem 0;
            }
        }
        &.el-menu--medium-icons {
            .el-menu-item {
                .bi {
                    font-size: 1em;
                }
            }
        }
        &.el-menu--inactivated {
            --el-menu-active-color: var(--el-menu-text-color);
        }
    }
    .el-menu-item .bi,
    .el-menu > .el-collapse .el-collapse-item__header .bi {
        font-size: 1.125rem;
    }
    .el-menu-item .bi,
    .el-submenu .bi,
    .el-menu > .el-collapse .el-collapse-item__header .bi {
        vertical-align: middle;
        margin-right: 0.3125rem;
        width: 1.5rem;
        text-align: center;
    }
    .el-menu > .el-collapse .el-collapse-item__header .bi {
        color: #909399;
    }

    .el-no-transition-enter-active, .el-no-transition-leave-active {
        transition: none !important;
        opacity: 0 !important;
    }
      
    .el-no-transition-enter-from, .el-no-transition-leave-to {
        opacity: 0 !important;
    }
      
    .el-notification {
        &.right {
            right: calc(var(--ogr-sidebar-right-width, .5rem) + .5rem);
        }
        &.left {
            left: calc(var(--ogr-sidebar-left-width, .5rem) + .5rem);
        }
    }

    .el-popover {
        --el-popover-border-radius: 0.875rem;

        > .el-menu {
            border-radius: 0.875rem;

            > .el-menu-item:first-child {
                border-radius: 0.875rem 0.875rem 0 0;
            }
            > .el-menu-item:last-child {
                border-radius: 0 0 0.875rem 0.875rem;
            }
            > .el-menu-item:only-child {
                border-radius: 0.875rem;
            }
        }
    }

    .el-radio-button { 
        --el-border-radius-base: 0.75rem;

        &.is-active {
            cursor: default !important;
            .el-radio-button__inner {
                cursor: default !important;
            }
        }
        .el-radio-button__orig-radio:disabled + .el-radio-button__inner {
            cursor: default !important;
        }
    }
    .el-radio-button--small {
        --el-border-radius-base: 0.5rem;

        .el-radio-button__inner {
            padding: 0.5625rem 0.9375rem;
            font-size: 0.75rem;
            border-radius: 0;
        }
    }

    .el-radio-group {
        &.el-radio-group--vertical {
            flex-direction: column;
            align-items: stretch;

            .el-radio-button {
                display: flex;
                flex-direction: row;

                .el-radio-button__inner {
                    width: 100%;
                    border-radius: 0;
                    border: 1px solid var(--el-border-color);
                    border-top: none;
                }

                &:first-child {
                    .el-radio-button__inner {
                        border-radius: var(--el-border-radius-base) var(--el-border-radius-base) 0 0;
                        border-top: 1px solid var(--el-border-color);
                    }
                }
                &:last-child {
                    .el-radio-button__inner {
                        border-radius: 0 0 var(--el-border-radius-base) var(--el-border-radius-base);
                    }
                }

                &.is-active {
                    .el-radio-button__inner {
                        box-shadow: none;
                        --el-border-color: var(--el-color-primary);
                        border-color: var(--el-color-primary);
                    }
                }

                &.el-radio-button--section-break {
                    background-color: var(--el-border-color);
                    .el-radio-button__inner {
                        margin-top: 0.125rem;
                        border-top: 1px solid var(--el-border-color);
                    }
                }
            }
        }
    }

    .el-select-dropdown--unlocked-option-height {
        .el-select-dropdown__item {
            height: auto !important;
        }
    }

    .el-switch {
        &.is-checked {
            .el-switch__core {
                .el-switch__action {
                    left: calc(100% - var(--el-switch-button-size) - 0.0625rem);
                    margin-left: 0;
                }
            }
        }
        &.el-switch--label-align-fix-sm-above {
            .el-switch__label {
                margin-top: 0.05em;
            }
        }
        &.el-switch--label-align-fix-sm-below {
            .el-switch__label {
                margin-bottom: 0.05em;
            }
        }
    }

    .el-tabs--icon-tabs {
        .el-tabs__header {
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            margin-bottom: 0.25rem;
        }
        .el-tabs__item {
            height: auto !important;
            padding: 0 0.75rem;

            &.is-top:nth-child(2) {
                padding-left: 1.25rem !important;
            }
            &.is-top:last-child {
                padding-right: 1.25rem !important;
            }
        }
    }

    .el-loading-spinner {
        svg {
            display: inline;
        }
    }
}