@mixin element-plus-enhancements {
    .el-alert--info.is-light {
        color: var(--ogr-alert-info-color);
    }

    .el-button {
        height: auto;
        min-height: 2.5rem;
        padding: 0.75rem 1.25rem;

        &.is-circle {
            padding: 0.75rem;
        }
    }
    .el-button--small {
        min-height: 2rem;
        padding: 0.5625rem 0.9375rem;
        font-size: 0.75rem;
    }

    .el-button-group {
        > .el-input {
            float: left;
            width: 6rem;
            margin-right: -0.0625rem;

            > .el-input__inner {
                border-radius: 0;
                transition: none;
            }
            &:first-child {
                > .el-input__inner {
                    border-top-left-radius: var(--ogr-border-radius);
                    border-bottom-left-radius: var(--ogr-border-radius);
                }
            }
            &:last-child {
                margin-right: 0;

                > .el-input__inner {
                    border-top-right-radius: var(--ogr-border-radius);
                    border-bottom-right-radius: var(--ogr-border-radius);
                }
            }

            &:hover {
                z-index: 1;
            }
            &:focus-within {
                z-index: 1;
            }
        }

        &.el-button-group--flex {
            display: inline-flex;
            flex-direction: row;
            align-items: stretch;

            > .el-input {
                > .el-input__inner {
                    height: 100%;
                }
            }
        }
    }

    .el-collapse--menu-item {
        .el-collapse-item__header {
            font-size: 0.875rem;
            padding-left: 1.25rem;
            padding-right: 0.5rem;
        }
        .el-collapse-item__content {
            padding-bottom: 0.5rem;
        }
    }

    .el-dialog {
        &.el-dialog--ogr-dock {
            .el-dialog__body {
                padding: 0 !important;
            }
        }
        .el-dialog__header + .el-dialog__body {
            padding-top: 0.75rem;
        }
    }

    .el-drawer {
        .el-drawer__body {
            position: relative;
        }
    }

    .el-form-item--default .el-form-item__label {
        line-height: 2.5rem;
    }

    .el-form-item {
        &.el-form-item--menu-item {
            display: flex;
            padding: 0 1.25rem;
            margin: 0;
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;

            > .el-form-item__label {
                flex-basis: auto;
                flex-shrink: 0;
                flex-grow: 1;
                text-align: left;
            }

            > .el-form-item__content {
                flex-basis: auto;
                flex-grow: 0;
                flex-shrink: 0;

                > .el-button-group,
                > .el-radio-group {
                    flex-wrap: nowrap;
                    overflow-wrap: normal;
                    word-break: normal;
                    white-space: nowrap;
                }
                > .el-button-group > .el-button {
                    float: none;
                }
            }
        }
        &.el-form-item--has-content-right {
            > .el-form-item__content {
                text-align: right;
            }
        }
    }

    .el-form-item-group {
        --label-min-width: 0px;
        margin-bottom: 1.375rem;

        .el-form-item {
            display: flex;
            margin: 0;

            .el-form-item__label {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            .el-form-item__content > .el-input > .el-input__inner,
            .el-form-item__content > .el-input-group > *:last-child,
            .el-form-item__content > .el-row > .el-col > .el-input > .el-input__inner,
            .el-form-item__content > .el-row > .el-col > .el-input-group > *:last-child,
            .el-form-item__content > .el-select > .select-trigger > .el-input > .el-input__inner,
            .el-form-item__content > .el-input-group > .el-input-group__append > .el-select > .select-trigger > .el-input > .el-input__inner {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:first-child {
                .el-form-item__label {
                    border-top-left-radius: var(--ogr-border-radius);
                }
                .el-form-item__content > .el-input > .el-input__inner,
                .el-form-item__content > .el-input-group > *:last-child,
                .el-form-item__content > .el-row > .el-col:last-child > .el-input-group > *:last-child,
                .el-form-item__content > .el-select > .select-trigger > .el-input > .el-input__inner,
                .el-form-item__content > .el-input-group > .el-input-group__append > .el-select > .select-trigger > .el-input > .el-input__inner {
                    border-top-right-radius: var(--ogr-border-radius);
                }
            }
            &:last-child {
                .el-form-item__label {
                    border-bottom-left-radius: var(--ogr-border-radius);
                }
                .el-form-item__content > .el-input > .el-input__inner,
                .el-form-item__content > .el-input-group > *:last-child,
                .el-form-item__content > .el-row > .el-col:last-child > .el-input-group > *:last-child,
                .el-form-item__content > .el-select > .select-trigger > .el-input > .el-input__inner,
                .el-form-item__content > .el-input-group > .el-input-group__append > .el-select > .select-trigger > .el-input > .el-input__inner {
                    border-bottom-right-radius: var(--ogr-border-radius);
                }
            }

            + .el-form-item {
                margin-top: -0.0625rem;
            }

            .el-form-item__label {
                background-color: var(--ogr-form-connected-label-background-color);
                border: 0.0625rem solid var(--ogr-form-connected-label-border-color);
                border-right: none;
                min-width: var(--label-min-width);
                line-height: 1;
                height: auto;
                display: flex;
                flex-shrink: 0;
                flex-grow: 0;
                align-items: center;
                padding: 0 0.9375rem;
            }

            .el-form-item__content {
                flex-grow: 1;
                margin: 0;

                .el-row {
                    width: 100%;
                }

                > .el-select,  > .el-input {
                    width: 100%;
                    .el-input__inner {
                        background-color: var(--ogr-form-connected-label-input-focus-color);
                        /*
                        &:hover {
                            background-color: var(--ogr-form-connected-label-input-hover-color);
                            + .el-input-group__append {
                                background-color: var(--ogr-form-connected-label-input-hover-color);
                            }
                        }
                        &:focus, &:hover:focus {
                            background-color: var(--ogr-form-connected-label-input-focus-color);
                            + .el-input-group__append {
                                background-color: var(--ogr-form-connected-label-input-focus-color);
                            }
                        }
                        */
                    }
                }
                /*
                .el-select {
                    .el-input--suffix {
                        &:hover {
                            background-color: var(--ogr-form-connected-label-input-hover-color);
                            + .el-input-group__append {
                                background-color: var(--ogr-form-connected-label-input-hover-color);
                            }
                        }
                        &:hover:focus {
                            background-color: var(--ogr-form-connected-label-input-hover-color);
                            + .el-input-group__append {
                                background-color: var(--ogr-form-connected-label-input-hover-color);
                            }
                        }
                    }
                }
                */

                .el-slider {
                    box-sizing: border-box;
                    padding-left: 0.9375rem;
                    padding-right: 0.9375rem;
                    border-top: 0.0625rem solid var(--ogr-form-connected-label-border-color) !important;
                    border-bottom: 0.0625rem solid var(--ogr-form-connected-label-border-color) !important;
                }
                > .el-slider {
                    &:last-child {
                        border-right: 0.0625rem solid var(--ogr-form-connected-label-border-color) !important;
                    }
                }
                > .el-row > .el-col > .el-slider {
                    height: 100%;
                }
                > .el-row > .el-col:last-child > .el-slider {
                    border-right: 0.0625rem solid var(--ogr-form-connected-label-border-color) !important;
                }

                > .el-select, .el-input:not(.el-input-group) {
                    display: block;

                    .el-input__inner {
                        display: block;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-left-width: 0 !important;
                        border-top-color: var(--ogr-form-connected-label-border-color) !important;
                        border-bottom-color: var(--ogr-form-connected-label-border-color) !important;
                        border-right-color: var(--ogr-form-connected-label-border-color) !important;
                    }
                }

                &, & > .el-row > .el-col {
                    > .el-input.el-input-group {
                        > .el-input__inner {
                            border-radius: 0;
                            border-left-width: 0 !important;
                            border-right-width: 0 !important;
                            border-top-color: var(--ogr-form-connected-label-border-color) !important;
                            border-bottom-color: var(--ogr-form-connected-label-border-color) !important;
                        }
                    }
                }

                .el-input-group__append {
                    background-color: var(--ogr-form-connected-label-background-color);
                    box-sizing: border-box;
                    padding-left: 0.9375rem;
                    padding-right: 0.9375rem;

                    > .el-select {
                        margin: -0.0625rem -1rem;

                        .el-input__inner {
                            border-radius: 0;
                            border-top: 0.0625rem solid var(--ogr-form-connected-label-border-color) !important;
                            border-bottom: 0.0625rem solid var(--ogr-form-connected-label-border-color) !important;
                        }
                    }
                }

                .el-form-item__error {
                    background: #FFF4F4;
                    border-right: 0.0625rem solid #FDD6D6;
                    padding: 0.5rem 0.9375rem;
                    position: static;
                    top: 0;
                    animation: none !important;
                    transition: none !important;
                }
            }
        }
    }

    .el-horizontal-scrollbar-arrows {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        align-items: stretch;
        height: 3.25rem;

        > .el-scrollbar {
            height: auto;
            > * > .el-scrollbar__view {
                display: flex;
                height: 100%;
            }
        }

        > .el-button {
            box-shadow: 0 0 59px #dfdfdf;
            z-index: 1;
        }
    }

    .el-input__inner {
        height: 2.5rem;
        line-height: 2.5rem;
        padding: 0 0.9375rem;
    }
    .el-input--text-left {
        > .el-input__inner {
            text-align: left;
        }
    }
    .el-input--text-right {
        > .el-input__inner {
            text-align: right;
        }
    }
    .el-input--text-center {
        > .el-input__inner {
            text-align: center;
        }
    }
    .el-input--small {
        font-size: 0.8125rem;
        line-height: 2rem;

        .el-input__inner {
            height: 2rem;
            line-height: 2rem;
        }
    }

    .el-loading-spinner {
        margin: 0 !important;
        transform: translate(0, -50%);
    }

    .el-menu {
        &.el-menu--borderless {
            border: none !important;
        }
        &.el-menu--medium {
            .el-menu-item {
                height: 2.5rem;
                line-height: 2.5rem;
            }
            > .el-divider {
                margin: 0.25rem 0;
            }
        }
    }
    .el-menu-item .bi,
    .el-menu > .el-collapse .el-collapse-item__header .bi {
        font-size: 1.125rem;
    }
    .el-menu-item .bi,
    .el-submenu .bi,
    .el-menu > .el-collapse .el-collapse-item__header .bi {
        vertical-align: middle;
        margin-right: 0.3125rem;
        width: 1.5rem;
        text-align: center;
    }
    .el-menu > .el-collapse .el-collapse-item__header .bi {
        color: #909399;
    }

    .el-radio-button { 
        &.is-active {
            cursor: default !important;
            .el-radio-button__inner {
                cursor: default !important;
            }
        }
        .el-radio-button__orig-radio:disabled + .el-radio-button__inner {
            cursor: default !important;
        }
    }
    .el-radio-button--small {
        .el-radio-button__inner {
            padding: 0.5625rem 0.9375rem;
            font-size: 0.75rem;
            border-radius: 0;
        }
    }

    .el-switch {
        &.is-checked {
            .el-switch__core {
                .el-switch__action {
                    left: calc(100% - var(--el-switch-button-size) - 0.0625rem);
                    margin-left: 0;
                }
            }
        }
    }

    .el-tabs--icon-tabs {
        .el-tabs__header {
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            margin-bottom: 0.25rem;
        }
        .el-tabs__item {
            height: auto !important;
            padding: 0 0.75rem;

            &.is-top:nth-child(2) {
                padding-left: 1.25rem !important;
            }
            &.is-top:last-child {
                padding-right: 1.25rem !important;
            }
        }
    }

    .el-loading-spinner {
        svg {
            display: inline;
        }
    }
}