@use './opengraphica.scss';
@use './vendor/element-plus-theme-dark.css';
@use './vendor/bulma.scss' as *;
@use './element-plus-enhancements.scss' as *;

:root {
    --ogr-background-color: #1f252d;
    --ogr-layout-menu-bar-border-color: #0e1014;
    --ogr-layout-menu-bar-background-color: #222933;
    --ogr-working-image-border-color: black;
}

.opengraphica {
    @include bulma;
    @include element-plus-enhancements;
}
