@use './opengraphica.scss';
@use './vendor/element-plus-theme-dark.css';
@use './vendor/bulma.scss' as *;
@use './element-plus-enhancements.scss' as *;

:root {
    --ogr-background-color: #1f252d;
    --ogr-form-connected-label-background-color: #232831;
    --ogr-form-connected-label-border-color: #191d25;
    --ogr-form-connected-label-input-hover-color: #f0f2f3;
    --ogr-form-connected-label-input-focus-color: #272c37;
    --ogr-layout-menu-bar-border-color: #0e1014;
    --ogr-layout-menu-bar-background-color: #222933;
    --ogr-working-image-border-color: black;
    --ogr-alert-info-color: #ffffff;
}

.opengraphica {
    @include bulma;
    @include element-plus-enhancements;
}
