@use './opengraphica.scss';
@use './opengraphica/popover.scss';

@use './vendor/element-plus-theme-chalk.css';
@use './vendor/bulma.scss' as *;
@use './element-plus-enhancements.scss' as *;

:root {
    --og-background-color: #fafafa;
    --og-background-color-secondary: #f4f4f5;

    --og-body-background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAMAAACeL25MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////zsrFFOhhzwAAAA9JREFUeNpiYGTAAAABBgAAJwAC/BnsgQAAAABJRU5ErkJggg==');

    --og-border-color-high-contrast: #8f949f;

    --og-form-connected-label-background-color: #F8F9FB;
    --og-form-connected-label-border-color: #DCDFE6;
    --og-form-connected-label-input-hover-color: #f0f2f3;
    --og-form-connected-label-input-focus-color: #ffffff;

    --og-history-notification-border-color: #dadeeaee;
    --og-history-notification-background-color: white;
    --og-history-notification-background-color-highlight: #DCDFE6;

    --og-layout-menu-bar-border-color: #dadeeaee;
    --og-layout-menu-bar-background-color: white;

    --og-menu-drawers-background-color: rgba(0, 0, 0, 0.1);
    --og-menu-drawer-background-color: white;
    --og-menu-drawer-close-icon-color: #a4a8b3c4;
    --og-menu-drawer-close-icon-color-hover: #8f949f;

    --og-working-image-border-color: #e4e7f2;

    --og-alert-info-color: #515356;

    --og-overlay-background-color: rgba(255, 255, 255, 0.8);

    --og-snap-line-color: #66b1ff;

    --og-layer-list-background-color-hover: rgba(64, 158, 255, 0.15);
    --og-layer-list-background-color-active: rgba(64, 158, 255, 0.1);
    --og-layer-list-background-color-drag: #f5faff;
    --og-layer-list-border-color: #ebeef5;
    --og-layer-list-thumbnail-border-color: #ebeef5;
    --og-layer-list-thumbnail-border-color-active: rgba(64, 158, 255, 0.6);

    @include popover.light;
}

.opengraphica {
    @include bulma;
    @include element-plus-enhancements;

    --el-switch-button-size: 1rem;

    .el-button--primary {
        --el-button-bg-color: var(--el-color-primary);
        --el-button-border-color: var(--el-color-primary);
        --el-button-hover-bg-color: rgb(102, 177, 255);
        --el-button-hover-border-color: rgb(102, 177, 255);
        --el-button-active-bg-color: rgb(58, 142, 230);
        --el-button-active-border-color: rgb(58, 142, 230);
        --el-button-hover-link-text-color: #2e8ae9;
        &.is-plain {
            --el-button-bg-color: var(--el-color-primary-light-9);
            --el-fill-color-blank: var(--el-color-primary-light-9);
            --el-button-border-color: var(--el-color-primary-light-6);
        }
    }

    .theme-dark {
        .el-button--primary {
            &.is-plain {
                --el-button-font-color: #009cff;
                --el-button-bg-color: #23374b;
                --el-fill-color-blank: #23374b;
                --el-button-border-color: #175987;
            }
        }

        --og-background-color: #1f252d;
        --og-form-connected-label-background-color: #232831;
        --og-form-connected-label-border-color: #191d25;
        --og-form-connected-label-input-hover-color: #f0f2f3;
        --og-form-connected-label-input-focus-color: #272c37;
        --og-history-notification-border-color: #dadeeaee;
        --og-history-notification-background-color: #222933;
        --og-history-notification-background-color-highlight: #424c58;
        --og-layout-menu-bar-border-color: transparent;
        --og-layout-menu-bar-background-color: #222933;
        --og-working-image-border-color: black;
        --og-alert-info-color: #ffffff;
        --og-overlay-background-color: rgba(31, 37, 45, 0.8);
        --og-snap-line-color: #66b1ff;
        --og-layer-list-background-color-hover: rgba(64, 158, 255, 0.1);
        --og-layer-list-background-color-active: rgba(64, 158, 255, 0.05);
        --og-layer-list-background-color-drag: #66b1ff;
        --og-layer-list-border-color: #0e1014;
        --og-layer-list-thumbnail-border-color: #0e1014;
        --og-layer-list-thumbnail-border-color-active: #333;
        --el-color-white: #272c37;
        --el-color-black: #eeeeee;
        --el-color-primary: #009cff;
        --el-color-primary-light-1: #53a8ff;
        --el-color-primary-light-2: #66b1ff;
        --el-color-primary-light-3: #79bbff;
        --el-color-primary-light-4: #8cc5ff;
        --el-color-primary-light-5: #a0cfff;
        --el-color-primary-light-6: #b3d8ff;
        --el-color-primary-light-7: #c6e2ff;
        --el-color-primary-light-8: #d9ecff;
        --el-color-primary-light-9: #ecf5ff;
        --el-color-success: #2ad43d;
        --el-color-warning: #eba62c;
        --el-color-danger: #ff5562;
        --el-color-info: #8f9198;
        --el-color-success-light: mix(--el-color-white, --el-color-success, 80%);
        --el-color-warning-light: mix(--el-color-white, --el-color-warning, 80%);
        --el-color-danger-light: mix(--el-color-white, --el-color-danger, 80%);
        --el-color-info-light: mix(--el-color-white, --el-color-info, 80%);
        --el-color-success-lighter: mix(--el-color-white, --el-color-success, 90%);
        --el-color-warning-lighter: mix(--el-color-white, --el-color-warning, 90%);
        --el-color-danger-lighter: mix(--el-color-white, --el-color-danger, 90%);
        --el-color-info-lighter: mix(--el-color-white, --el-color-info, 90%);
        --el-fill-color-blank: #272c37;
        --el-text-color-primary: #ffffff;
        --el-text-color-regular: #eeeeee;
        --el-text-color-secondary: #cccccc;
        --el-text-color-placeholder: #dddddd;
        --el-border-color-base: #191d25;
        --el-border-color-light: #1c212b;
        --el-border-color-lighter: #1d232e;
        --el-border-color-extra-light: #F2F6FC;
        --el-bg-color: #272c37;

        @include popover.dark;

        color: var(--el-color-black);
    }
}
