@use './opengraphica.scss';
@use './vendor/element-plus-theme-chalk.css';
@use './vendor/bulma.scss' as *;
@use './element-plus-enhancements.scss' as *;

:root {
    --ogr-background-color: #fafafa;
    --ogr-form-connected-label-background-color: #F8F9FB;
    --ogr-form-connected-label-border-color: #DCDFE6;
    --ogr-form-connected-label-input-hover-color: #f0f2f3;
    --ogr-form-connected-label-input-focus-color: #ffffff;
    --ogr-layout-menu-bar-border-color: #eaeefb;
    --ogr-layout-menu-bar-background-color: white;
    --ogr-working-image-border-color: #d0d5e8;
    --ogr-alert-info-color: #515356;
    --ogr-overlay-background-color: rgba(255, 255, 255, 0.8);
}

.opengraphica {
    @include bulma;
    @include element-plus-enhancements;
}
