@use '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Light.ttf');
}

:root {
    --ogr-border-radius: 0.25rem;
}

html {
    overscroll-behavior-y: contain;
}

body.ogr-full-page {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: contain;

    .opengraphica {
        position: absolute;
    }
}

.opengraphica {
    background-color: var(--ogr-background-color);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAMAAACeL25MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////zsrFFOhhzwAAAA9JREFUeNpiYGTAAAABBgAAJwAC/BnsgQAAAABJRU5ErkJggg==');
    font-family: Roboto,
        system-ui,
        -apple-system, /* Firefox supports this but not yet `system-ui` */
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
    font-weight: 300;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    #ogr-tmp-file-input-container {
        position: absolute;
        opacity: 0.01;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    .ogr-dialogs {
        .el-dialog.el-dialog--medium {
            width: 25rem !important;
            max-width: 90%;
        }
    }

    .ogr-layer-list {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        overflow: hidden; // Prevent scroll during dragging from increasing container size

        &.is-dnd-dragging {
            > .ogr-layer > * {
                pointer-events: none;
            }
        }

        .ogr-layer {
            list-style: none;
            margin: 0;
            padding: 0;
            display: block;

            &.is-active {
                background: var(--ogr-layer-list-background-color-active);
                box-shadow: 0.1875rem 0 0 var(--ogr-layer-list-thumbnail-border-color-active) inset;
            }

            &.is-dnd-hover {
                background: var(--ogr-layer-list-background-color-hover);
            }

            &.is-dnd-placeholder {
                position: relative;
                background: transparent;
                box-shadow: none;

                > * {
                    visibility: hidden;
                }
                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    box-sizing: border-box;
                    visibility: visible;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border: 0.25rem dashed rgba(127, 127, 127, 0.2);
                }
            }

            &.is-dragging {
                pointer-events: none;
                position: absolute;
                background: var(--ogr-layer-list-background-color-drag);
                box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
                left: 0;
                right: 0;
                user-select: none;
                opacity: 0.8;
            }

            &.is-drag-insert-bottom {
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    background: var(--ogr-snap-line-color);
                    height: 0.25rem;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }

            &.is-drag-insert-top {
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    background: var(--ogr-snap-line-color);
                    height: 0.25rem;
                    top: 0;
                    left: 0;
                    right: 0;
                }
            }

            .ogr-layer-main {
                display: flex;
                flex-direction: row;
                height: 4rem;

                .ogr-layer-dnd-handle {
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    flex-grow: 1;
                    overflow: hidden;
                }

                .ogr-layer-thumbnail {
                    cursor: move;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 4rem;
                    height: 100%;
                    padding: 0.5rem;
                    box-sizing: border-box;
                    flex-shrink: 0;

                    img {
                        background: white;
                        width: auto;
                        height: 100%;
                        box-sizing: border-box;
                        border: .25rem solid var(--ogr-layer-list-thumbnail-border-color);

                        &.is-larger-width {
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                .ogr-layer-name {
                    display: block;
                    padding: 0 0.5rem 0 0;
                    align-self: center;
                    flex-grow: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .el-button:hover {
                    background: var(--ogr-layer-list-background-color-hover);
                }
            }

            .ogr-layer-attributes {
                display: block;
                margin: 0 0.5rem 0 2rem;
                // border-top: 0.0625rem solid var(--ogr-layer-list-border-color);
                // border-bottom: 0.0625rem solid var(--ogr-layer-list-border-color);

                /*
                + .ogr-layer-attributes {
                    margin-top: -0.0625rem;
                }
                */

                .ogr-layer-attributes__title {
                    display: block;
                    padding: 0 0 0.25rem 0;
                }
            }

            .ogr-layer-frames {
                .el-scrollbar__view {
                    display: inline-block;
                }
            }

            .ogr-layer-frames-list {
                list-style: none;
                margin: 0;
                padding: 0 0 0.5rem 0;
                display: inline-flex;
                white-space: nowrap;

                > li {
                    display: inline-block;
                    list-style: none;
                    margin: 0 0.5rem 0 0;
                    padding: 0;

                    .ogr-layer-thumbnail {
                        cursor: pointer;
                        display: block;
                        width: auto;
                        height: 3rem;
                        box-sizing: border-box;
                        position: relative;
    
                        img {
                            background: white;
                            width: auto;
                            height: 100%;
                            margin: 0;
                            padding: 0;
                            box-sizing: border-box;
                            border: .25rem solid var(--ogr-layer-list-thumbnail-border-color);
                        }

                        .ogr-layer-thumbnail__label {
                            font-size: 0.85rem;
                            display: inline-block;
                            position: absolute;
                            bottom: .25rem;
                            right: .25rem;
                            background: rgba(255, 255, 255, 0.8);
                            color: #222;
                            padding: 0 0.25rem;
                            border-radius: .5rem 0 0 0;
                        }

                        &.is-active {
                            img {
                                border-color: var(--ogr-layer-list-thumbnail-border-color-active);
                            }
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    
    .ogr-layout-dnd-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    
        > header {
            flex-grow: 0;
            background: linear-gradient(to bottom, var(--ogr-background-color) 50%, rgba(255, 255, 255, 0.0) 100%);
            touch-action: none;
        }
        > .ogr-layout-dnd-center {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
    
            > .sidebar-left {
                flex-grow: 0;
                touch-action: pan-y;
            }
            > .sidebar-right {
                flex-grow: 0;
                touch-action: pan-y;
            }
            > main {
                flex-grow: 1;
                touch-action: none;
    
                &:focus {
                    outline: none;
                }
    
                &.ogr-custom-cursor {
                    cursor: none;
                }
            }
        }
        > footer {
            flex-grow: 0;     
            touch-action: none;   
        }
    }

    @keyframes ogr-menu-drawers-fade-in {
        0% {
            display: none;
            opacity: 0;
        }
        1% {
            display: block;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes ogr-menu-drawers-fade-out {
        0% {
            opacity: 1;
        }
        99% {
            display: block;
        }
        100% {
            display: none;
            opacity: 0;
        }
    }

    .ogr-menu-drawers {
        position: absolute;
        background: rgba(0, 0, 0, 0.1);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: ogr-menu-drawers-fade-in 0.15s ease-in;
        animation-fill-mode: forwards;

        &.is-fade-out {
            animation: ogr-menu-drawers-fade-out 0.15s ease-in;
        }
    }

    @keyframes ogr-menu-drawer-slide-right-open {
        0% {
            transform: translateX(-100%);
            opacity: 0.5;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes ogr-menu-drawer-slide-right-close {
        0% {
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            transform: translateX(-100%);
            opacity: 0.5;
        }
    }

    @keyframes ogr-menu-drawer-slide-left-open {
        0% {
            transform: translateX(100%);
            opacity: 0.5;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes ogr-menu-drawer-slide-left-close {
        0% {
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            transform: translateX(100%);
            opacity: 0.5;
        }
    }

    @keyframes ogr-menu-drawer-slide-top-open {
        0% {
            transform: translateY(100%);
            opacity: 0.5;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes ogr-menu-drawer-slide-top-close {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(100%);
            opacity: 0.5;
        }
    }

    @keyframes ogr-menu-drawer-slide-bottom-open {
        0% {
            transform: translateY(-100%);
            opacity: 0.5;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes ogr-menu-drawer-slide-bottom-close {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(-100%);
            opacity: 0.5;
        }
    }

    .ogr-menu-drawer {
        display: flex;
        flex-direction: column;
        background: var(--ogr-menu-drawer-background-color);
        border-radius: 1rem;
        position: absolute;
        top: .5rem;
        bottom: .5rem;
        left: .5rem;
        right: .5rem;
        animation-fill-mode: forwards;
        animation-duration: 0.25s;
        animation-timing-function: ease-in;
        z-index: 5;

        &.is-open-right {
            padding-left: 4rem;
            right: 3.5rem;
            animation-name: ogr-menu-drawer-slide-right-open;

            .ogr-menu-drawer__close {
                right: -2.5rem;
            }

            &.is-closing {
                animation-name: ogr-menu-drawer-slide-right-close;
            }
        }
        &.is-open-left {
            padding-right: 4rem;
            left: 3.5rem;
            animation-name: ogr-menu-drawer-slide-left-open;

            .ogr-menu-drawer__close {
                right: auto;
                left: -2.5rem;
            }

            &.is-closing {
                animation-name: ogr-menu-drawer-slide-left-close;
            }
        }
        &.is-open-top {
            padding-bottom: 4rem;
            top: 3.5rem;
            animation-name: ogr-menu-drawer-slide-top-open;

            .ogr-menu-drawer__close {
                top: -2.75rem;
                right: .25rem;
            }

            &.is-closing {
                animation-name: ogr-menu-drawer-slide-top-close;
            }
        }
        &.is-open-bottom {
            padding-top: 4rem;
            bottom: 3.5rem;
            animation-name: ogr-menu-drawer-slide-bottom-open;

            .ogr-menu-drawer__close {
                top: auto;
                bottom: -2.75rem;
                right: .25rem;
            }

            &.is-closing {
                animation-name: ogr-menu-drawer-slide-bottom-close;
            }
        }

        > .el-scrollbar {
            flex-grow: 1;
        }
    }
    .ogr-menu-drawer__title {
        margin: 1.5rem 0 .5rem 0;
        padding: 0 1rem;
        flex-grow: 0;
        flex-shrink: 1;
    }
    .ogr-menu-drawer__close {
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
        color: var(--ogr-menu-drawer-close-icon-color);

        &:hover {
            color: var(--ogr-menu-drawer-close-icon-color-hover);
        }

        .bi {
            font-size: 1.6rem;
        }
    }
    .ogr-menu-drawer__content {
        padding: .5rem 0;
    }

    .ogr-layout-menu-bar {
        display: block;
        position: relative; // Necessary for z-index
        transition: all 0.6s;
        width: calc(100% - 1rem);
        max-width: calc(100% - 1rem);
        background: var(--ogr-layout-menu-bar-background-color);
        box-shadow: 0 0 0 0.063rem var(--ogr-layout-menu-bar-border-color);
        border-radius: 1rem;
        margin: .5rem;
        z-index: 10;
        transition: border-radius 0.2s;

        &.is-positioned-top.is-menu-drawer-open {
            border-radius: 1rem 1rem 0 0;
        }
        &.is-positioned-bottom.is-menu-drawer-open {
            border-radius: 0 0 1rem 1rem;
        }
        &.is-positioned-left.is-menu-drawer-open {
            border-radius: 1rem 0 0 1rem;
        }
        &.is-positioned-right.is-menu-drawer-open {
            border-radius: 0 1rem 1rem 0;
        }

        > .is-flex {
            .ogr-menu-section__title {
                color: var(--el-text-color-regular);
                font-size: .675rem;
                margin: 0 .75rem 0 1rem;
                text-transform: uppercase;
                white-space: pre-wrap;
                
                img {
                    width: 2.4rem;
                }
            }

            > .ogr-menu-favorites {
                flex: 1;
                display: flex;
            }

            > .ogr-menu-start, > .ogr-menu-end {
                flex: 1;
                display: flex;
                justify-content: flex-start;
                min-width: -webkit-min-content; /* Workaround to Chrome bug */
            }

            > .ogr-menu-center {
                flex-shrink: 1;
                flex-grow: 0;
                display: flex;
                overflow: hidden;

                > .el-scrollbar {
                    width: 100%;

                    .el-scrollbar__view {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                }

                .el-button {
                    --el-button-background-color: transparent;

                    .el-icon {
                        color: var(--el-button-font-color);
                    }
                    &.el-button--primary.is-plain {
                        --el-button-font-color: var(--el-text-color-primary);
                    }
                }
            }

            > .ogr-menu-end {
                justify-content: flex-end;
            }
        }

        .ogr-menu-section {
            .el-button-group, .ogr-single-button-group {
                width: max-content;

                > .el-button {
                    border-width: 0 !important;
                }

                + .el-button-group, + .ogr-single-button-group {
                    margin-left: 0.375rem;
                }
            }
        }

        .el-button--expanded-group {
            padding: .6rem .8rem !important;
        }

        .el-button--expanded-popover {
            box-shadow: 0 0 0 2px rgba(64, 158, 255, 0.3) inset;
        }

        &.is-vertical {
            height: calc(100% - 1rem);

            > .is-flex {
                flex-direction: column;
                height: calc(100% - 1rem);

                > .ogr-menu-start {
                    justify-content: flex-start;
                }
                > .ogr-menu-end {
                    justify-content: flex-end;
                }
                > .ogr-menu-center {
                    > .el-scrollbar {
                        width: 100%;

                        .el-scrollbar__view {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                }
                > .ogr-menu-start, > .ogr-menu-center, > .ogr-menu-end {
                    align-items: center;
                    flex-direction: column;
                }

                .ogr-menu-section {
                    .ogr-menu-section__title {
                        color: var(--el-text-color-regular);
                        font-size: .675rem;
                        margin: .5rem 0;
                        text-transform: uppercase;
                        
                        img {
                            width: 2.4rem;
                        }
                    }

                    .el-button-group, .ogr-single-button-group {
                        height: max-content;
        
                        + .el-button-group, + .ogr-single-button-group {
                            margin-left: 0;
                            margin-top: 0.375rem;
                        }
                    }
                }
            }
        }
    }

    .ogr-dock-popover {
        min-width: 0 !important;
        max-width: 90vw;
        max-height: calc(100vh - 5rem) !important;
        padding: 0 !important;
        width: auto !important;

        > .ogr-dock-title {
            text-align: center;
            font-size: 1rem;
            font-weight: bold;
            padding: 0.5rem 1rem 0.35rem 1rem;
        }

        > .ogr-dock {
            max-height: calc(100vh - 5rem) !important;
            overflow: hidden !important;

            > .ogr-dock-content {
                width: 350px;
                max-width: 100%;

                > .el-scrollbar, > .el-scrollbar  {
                    max-height: calc(100vh - 13rem) !important;
                    overflow: hidden !important;

                    > .el-scrollbar__wrap {
                        max-height: calc(100vh - 13rem) !important;
                    }
                }
            }

            > .el-tabs {
                max-height: calc(100vh - 5rem) !important;
                overflow: hidden !important;

                > .el-tabs__content, > .el-tabs__content > .el-tab-pane, > .el-tabs__content > .el-tab-pane > .el-scrollbar {
                    max-height: calc(100vh - 13rem) !important;
                    overflow: hidden !important;
                }
                > .el-tabs__content > .el-tab-pane > .el-scrollbar > .el-scrollbar__wrap {
                    max-height: calc(100vh - 13rem) !important;
                    overflow: auto !important;
                }
            }
        }
    }

    .ogr-module {
        word-break: normal;
    }

    .ogr-toolbar {
        display: block;
        transition: all 0.6s;
        width: 100%;
        max-width: 100%;
        background: var(--ogr-layout-menu-bar-background-color);
        box-shadow: 0 0 0 0.063rem var(--ogr-layout-menu-bar-border-color);

        &.is-overlay {
            background: transparent;
            box-shadow: none;
        }

        .ogr-toolbar-overlay {
            background: var(--ogr-layout-menu-bar-background-color);
            box-shadow: 0 0 0 0.063rem var(--ogr-layout-menu-bar-border-color);
        }
    }
    header .ogr-toolbar .ogr-toolbar-overlay {
        border-radius: 0 0 1rem 1rem;
    }
    footer .ogr-toolbar .ogr-toolbar-overlay {
        border-radius: 1rem 1rem 0 0;
    }

    .ogr-canvas-area {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .ogr-canvas-overlays {
        display: block;
        position: absolute;
        transform-origin: 0 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        .ogr-canvas-overlay {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .ogr-canvas-container {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    
        &.ogr-canvas-viewport-css {
            transform-origin: 0 0;
    
            .ogr-canvas, .ogr-post-process-canvas {
                width: auto;
                height: auto;
                right: auto;
                bottom: auto;
                image-rendering: auto;
                image-rendering: smooth;
                image-rendering: optimizequality;
                image-rendering: high-quality;
            }

            .ogr-canvas {
                box-shadow: 0 0 1.25rem var(--ogr-working-image-border-color);
            }
            .ogr-post-process-canvas {
                transform-origin: top left;
            }

            &.ogr-canvas-viewport-css--pixelated {
                .ogr-canvas {
                    image-rendering: optimizespeed;
                    image-rendering: crisp-edges;
                    image-rendering: pixelated;
                }
            }
        }
    }

    .ogr-snap-preview {
        position: absolute;
        background: var(--ogr-snap-line-color);
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5);

        &.ogr-snap-preview-vertical {
            width: 0.0625rem;
            top: 0;

            &:before, &:after {
                content: '';
                display: block;
                height: 4rem;
                position: absolute;
                left: 0;
                right: 0;
            }
            &:before {
                background: linear-gradient(to bottom, transparent 0%, var(--ogr-snap-line-color) 100%); 
                top: -4rem;
            }
            &:after {
                background: linear-gradient(to bottom, var(--ogr-snap-line-color) 0%, transparent 100%); 
                bottom: -4rem;
            }
        }
        &.ogr-snap-preview-horizontal {
            height: 0.0625rem;
            left: 0;

            &:before, &:after {
                content: '';
                display: block;
                width: 4rem;
                position: absolute;
                top: 0;
                bottom: 0;
            }
            &:before {
                background: linear-gradient(to right, transparent 0%, var(--ogr-snap-line-color) 100%); 
                left: -4rem;
            }
            &:after {
                background: linear-gradient(to right, var(--ogr-snap-line-color) 0%, transparent 100%); 
                right: -4rem;
            }
        }
    }

    .ogr-crop {
        position: relative;
        outline: 999999px solid var(--ogr-overlay-background-color);

        .ogr-crop-bounds {
            border: 0.3rem solid rgba(235, 235, 235, 0.7);
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .ogr-crop-handle-top-left,
        .ogr-crop-handle-top-right,
        .ogr-crop-handle-bottom-left,
        .ogr-crop-handle-bottom-right,
        .ogr-crop-handle-top,
        .ogr-crop-handle-left,
        .ogr-crop-handle-bottom,
        .ogr-crop-handle-right {
            position: absolute;
            svg {
                display: block;
                position: absolute;
                height: 2rem;
                width: 2rem;
            }
        }

        .ogr-crop-handle-top-left {
            top: 0;
            left: 0;
            transform-origin: top left;
            svg {
                transform-origin: top left;
            }
        }
        .ogr-crop-handle-top-right {
            top: 0;
            right: 0;
            transform-origin: top right;
            svg {
                transform: rotate(90deg);
                transform-origin: top left;
            }
        }
        .ogr-crop-handle-bottom-right {
            bottom: 0;
            right: 0;
            transform-origin: bottom right;
            svg {
                transform: rotate(180deg);
                transform-origin: top left;
            }
        }
        .ogr-crop-handle-bottom-left {
            bottom: 0;
            left: 0;
            transform-origin: bottom left;
            svg {
                transform: rotate(270deg);
                transform-origin: top left;
            }
        }
        .ogr-crop-handle-top {
            top: 0;
            left: 50%;
            transform-origin: top center;
            svg {
                transform: translateX(-50%);
            }
        }
        .ogr-crop-handle-right {
            top: 50%;
            right: 0;
            transform-origin: right center;
            svg {
                transform: rotate(90deg) translate(-50%, 100%);
                transform-origin: center;
            }
        }
        .ogr-crop-handle-bottom {
            bottom: 0;
            right: 50%;
            transform-origin: bottom center;
            svg {
                transform: rotate(180deg) translate(50%, 100%);
                transform-origin: center;
            }
        }
        .ogr-crop-handle-left {
            top: 50%;
            left: 0;
            transform-origin: left center;
            svg {
                transform: rotate(270deg) translateY(-50%);
                transform-origin: top center;
            }
        }
    }

    @keyframes ogr-free-transform-bounds {
        0% {
            outline-color: rgba(235, 235, 235, 0.9);
        }
        50% {
            outline-color: rgba(205, 205, 205, 0.5);
        }
        100% {
            outline-color: rgba(235, 235, 235, 0.9);
        }
    }

    @keyframes ogr-free-transform-rotate-line {
        0% {
            background: rgba(235, 235, 235, 0.9);
        }
        50% {
            background: rgba(205, 205, 205, 0.5);
        }
        100% {
            background: rgba(235, 235, 235, 0.9);
        }
    }

    .ogr-free-transform {
        position: relative;

        .ogr-free-transform-bounds {
            outline: 0.35rem solid rgba(235, 235, 235, 0.7);
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            animation: ogr-free-transform-bounds 2s linear infinite;
        }

        .ogr-free-transform-handle-rotate {
            position: absolute;
            top: 0;
            left: 50%;
            svg {
                display: block;
                position: absolute;
                height: 0.85rem;
                width: 0.85rem;
                transform: translateX(-50%) rotate(180deg);
                transform-origin: top center;
            }
            .ogr-free-transform-handle-rotate-line {
                background: rgba(235, 235, 235, 0.7);
                display: block;
                position: absolute;
                top: -0.5rem;
                width: 0.25rem;
                height: 2.25rem;
                transform: translateX(-50%);
            }
        }

        .ogr-free-transform-handle-top-left,
        .ogr-free-transform-handle-top-right,
        .ogr-free-transform-handle-bottom-left,
        .ogr-free-transform-handle-bottom-right,
        .ogr-free-transform-handle-top,
        .ogr-free-transform-handle-left,
        .ogr-free-transform-handle-bottom,
        .ogr-free-transform-handle-right {
            position: absolute;
            svg {
                display: block;
                position: absolute;
                height: 0.75rem;
                width: 0.75rem;
            }
        }

        .ogr-free-transform-handle-top-left {
            top: 0;
            left: 0;
            transform-origin: top left;
            svg {
                transform: rotate(180deg);
                transform-origin: top left;
            }
        }
        .ogr-free-transform-handle-top-right {
            top: 0;
            right: 0;
            transform-origin: top right;
            svg {
                transform: rotate(90deg);
                transform-origin: top right;
            }
        }
        .ogr-free-transform-handle-bottom-right {
            bottom: 0;
            right: 0;
            transform-origin: bottom right;
            svg {
                transform: rotate(0deg);
                transform-origin: bottom right;
            }
        }
        .ogr-free-transform-handle-bottom-left {
            bottom: 0;
            left: 0;
            transform-origin: bottom left;
            svg {
                transform: rotate(270deg);
                transform-origin: bottom left;
            }
        }
        .ogr-free-transform-handle-top {
            top: 0;
            left: 50%;
            transform-origin: top center;
            svg {
                transform: translateX(-50%) rotate(180deg);
                transform-origin: top center;
            }
        }
        .ogr-free-transform-handle-right {
            top: 50%;
            right: 0;
            transform-origin: right center;
            svg {
                transform: translate(0, -50%);
                transform-origin: right center;
            }
        }
        .ogr-free-transform-handle-bottom {
            bottom: 0;
            right: 50%;
            transform-origin: bottom center;
            svg {
                transform: rotate(180deg) translate(50%, 100%);
                transform-origin: bottom center;
            }
        }
        .ogr-free-transform-handle-left {
            top: 50%;
            left: 0;
            transform-origin: left center;
            svg {
                transform: rotate(270deg) translateY(-50%);
                transform-origin: left center;
            }
        }
    }

    .ogr-canvas, .ogr-post-process-canvas {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
    }

    .ogr-wait {
        display: none;
    }
    .ogr-wait[aria-hidden="false"] {
        background: var(--ogr-background-color);
        opacity: 0.8;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.5s ease;
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }

    .scale-down-enter-active,
    .scale-down-leave-active {
        transition: transform 0.5s ease, opacity 0.5s ease;
        transform-origin: top left;
    }

    .scale-down-enter-from,
    .scale-down-leave-to {
        transform: scale(1, 0);
        transform-origin: top left;
        opacity: 0;
    }

}
