@use '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Light.ttf');
}

:root {
    --ogr-border-radius: 0.5rem;
    --ogr-dnd-drop-overlay-z-index: 800000;
    --ogr-history-notification-overlay-z-index: 850000;
    --ogr-modal-collapse-mobile: 600px;
    --ogr-wait-z-index: 900000;
}

html {
    overscroll-behavior-y: contain;
}

body.ogr-full-page {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: contain;

    .opengraphica {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

.opengraphica {
    background-color: var(--ogr-background-color);
    background-image: var(--ogr-body-background-image);
    font-family: Roboto,
        system-ui,
        -apple-system, /* Firefox supports this but not yet `system-ui` */
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
    font-weight: 300;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    #ogr-tmp-file-input-container {
        position: absolute;
        opacity: 0.01;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    @import './opengraphica/animation.scss';
    @import './opengraphica/canvas.scss';
    @import './opengraphica/color-picker.scss';
    @import './opengraphica/dialogs.scss';
    @import './opengraphica/dock.scss';
    @import './opengraphica/dnd-layout.scss';
    @import './opengraphica/history.scss';
    @import './opengraphica/layer-list.scss';
    @import './opengraphica/logo.scss';
    @import './opengraphica/menu-drawer.scss';
    @import './opengraphica/mode-select-button.scss';
    @import './opengraphica/overlay-crop-resize.scss';
    @import './opengraphica/overlay-free-transform.scss';
    @import './opengraphica/overlay-selection.scss';
    @import './opengraphica/overlay-text.scss';
    @import './opengraphica/toolbar.scss';
    @import './opengraphica/toolbar-gradient.scss';
    @import './opengraphica/utility.scss';
    @import './opengraphica/wait.scss';

}
