@use '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Light.ttf');
}

:root {
    --ogr-border-radius: 0.25rem;
}

html {
    overscroll-behavior-y: contain;
}

body.ogr-full-page {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: contain;
}

.opengraphica {
    background: var(--ogr-background-color);
    font-family: Roboto,
        system-ui,
        -apple-system, /* Firefox supports this but not yet `system-ui` */
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
    font-weight: 300;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    #ogr-tmp-file-input-container {
        position: absolute;
        opacity: 0.01;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    .ogr-dialogs {
        .el-dialog.el-dialog--medium {
            width: 25rem !important;
            max-width: 90%;
        }
    }
    
    .ogr-layout-dnd-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    
        > header {
            flex-grow: 0;
            background: linear-gradient(to bottom, var(--ogr-background-color) 50%, rgba(255, 255, 255, 0.0) 100%);
            touch-action: none;
        }
        > .ogr-layout-dnd-center {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
    
            > .sidebar-left {
                flex-grow: 0;
                touch-action: pan-y;
            }
            > .sidebar-right {
                flex-grow: 0;
                touch-action: pan-y;
            }
            > main {
                flex-grow: 1;
                touch-action: none;
    
                &:focus {
                    outline: none;
                }
    
                &.ogr-custom-cursor {
                    cursor: none;
                }
            }
        }
        > footer {
            flex-grow: 0;     
            touch-action: none;   
        }
    }

    .ogr-layout-menu-bar {
        display: block;
        transition: all 0.6s;
        width: 100%;
        max-width: 100%;
        background: var(--ogr-layout-menu-bar-background-color);
        box-shadow: 0 0 0 0.063rem var(--ogr-layout-menu-bar-border-color);

        .is-flex {
            > .menu-favorites {
                flex: 1;
                display: flex;
            }

            > .menu-start, > .menu-end {
                flex: 1;
                display: flex;
                min-width: -webkit-min-content; /* Workaround to Chrome bug */
            }

            > .menu-end {
                justify-content: flex-end;
            }
        }

        .el-button-group, .single-button-group {
            width: max-content;
            + .el-button-group, + .single-button-group {
                margin-left: 0.375rem;
            }
        }

        .el-button--expanded-group {
            padding: .6rem .8rem !important;
        }
    }

    .ogr-dock-popover {
        min-width: 0 !important;
        max-width: 90vw;
        max-height: calc(100vh - 5rem) !important;
        padding: 0 !important;
        width: auto !important;

        > .ogr-dock {
            max-height: calc(100vh - 5rem) !important;
            overflow: hidden !important;

            > .el-tabs {
                max-height: calc(100vh - 5rem) !important;
                overflow: hidden !important;

                > .el-tabs__content, > .el-tabs__content > .el-tab-pane, > .el-tabs__content > .el-tab-pane > .el-scrollbar {
                    max-height: calc(100vh - 10rem) !important;
                    overflow: hidden !important;
                }
                > .el-tabs__content > .el-tab-pane > .el-scrollbar > .el-scrollbar__wrap {
                    max-height: calc(100vh - 10rem) !important;
                    overflow: auto !important;
                }
            }
        }
    }

    .ogr-canvas-area {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .ogr-canvas-container {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    
        &.ogr-canvas-viewport-css {
            transform-origin: 0 0;
    
            .ogr-canvas {
                width: auto;
                height: auto;
                right: auto;
                bottom: auto;
                box-shadow: 0 0 1.25rem var(--ogr-working-image-border-color);
            }
        }
    }

    .ogr-canvas {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
    }

}
