:root {
    --og-surface-0: white;
    --og-surface-50: #f4f4f5;
    --og-surface-100: #e4e7f2;
    --og-surface-200: #dcdfe6;
    --og-surface-300: #8f949f;
    --og-surface-400: #515356;
    --og-surface-500: #343a46;
    --og-surface-600: #242934;
    --og-surface-700: #1f252d;
    --og-surface-800: #1d222d;
    --og-surface-900: #0e1014;

    --og-primary-0: white;
    --og-primary-25: #e9f4ff;
    --og-primary-50: #c6e2ff;
    --og-primary-75: #b3d8ff;
    --og-primary-100: #a0cfff;
    --og-primary-200: #79bbff;
    --og-primary-300: #66b1ff;
    --og-primary-400: #53a8ff;
    --og-primary-500: #009cff;
    --og-primary-600: #2477b3;
    --og-primary-700: #175987;
    --og-primary-800: #234362;
    --og-primary-900: #23374b;

    --og-danger-0: white;
    --og-danger-50: #ffd5d9;
    --og-danger-100: #ffbfc5;
    --og-danger-200: #ffa2a9;
    --og-danger-300: #ff808a;
    --og-danger-400: #fb6a76;
    --og-danger-500: #ff5562;
    --og-danger-600: #de3846;
    --og-danger-700: #a61b26;
    --og-danger-800: #721119;
    --og-danger-900: #44070d;

    --og-border-radius-small: 0.25rem;
    --og-border-radius-medium: 0.5rem;
    --og-border-radius-large: 0.75rem;
    --og-border-radius-big: 0.875rem;
}