
/***************************\
| Vue Transition Animations |
\***************************/

.og-transition-fast {
    --og-transition-duration: 0.2s;
}
.og-transition-moderate {
    --og-transition-duration: 0.5s;
}
.og-transition-slow {
    --og-transition-duration: 1s;
}
.og-transition-very-slow {
    --og-transition-duration: 2s;
}

.og-transition-fade-enter-active,
.og-transition-fade-leave-active {
    transition: opacity var(--og-transition-duration, 0.5s) ease;
}

.og-transition-fade-enter-from,
.og-transition-fade-leave-to {
    opacity: 0;
}

.og-transition-scale-down-enter-active,
.og-transition-scale-down-leave-active {
    transition: transform var(--og-transition-duration, 0.5s) ease, opacity var(--og-transition-duration, 0.5s) ease;
    transform-origin: top left;
}

.og-transition-scale-down-enter-from,
.og-transition-scale-down-leave-to {
    transform: scale(1, 0);
    transform-origin: top left;
    opacity: 0;
}

.og-transition-scale-up-enter-active,
.og-transition-scale-up-leave-active {
    transition: transform var(--og-transition-duration, 0.5s) ease, opacity var(--og-transition-duration, 0.5s) ease;
    transform-origin: top left;
}

.og-transition-scale-up-enter-from,
.og-transition-scale-up-leave-to {
    transform: scale(1, 0);
    transform-origin: top left;
    opacity: 0;
}

/********************\
| General Animations |
\********************/

@keyframes og-animate-fade-in {
    from { opacity: 0% }
    to { opacity: 100% }
}

.og-animate-fast {
    animation-duration: 0.2s !important;
}
.og-animate-moderate {
    animation-duration: 0.5s !important;
}
.og-animate-slow {
    animation-duration: 1s !important;
}
.og-animate-very-slow {
    animation-duration: 2s !important;
}

.og-animate-fade-in {
    animation: og-animate-fade-in 0.2s ease-in forwards;
}
