.og-dnd-drop-overlay {
    background: white;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--og-dnd-drop-overlay-z-index);
    align-items: center;
    justify-content: center;
    
    .og-dnd-drop-overlay__center {
        display: block;
        pointer-events: none;
    }

    .og-dnd-drop-corner-top-left, .og-dnd-drop-corner-top-right, .og-dnd-drop-corner-bottom-left, .og-dnd-drop-corner-bottom-right {
        position: absolute;
        pointer-events: none;

        svg {
            width: 3rem;
            height: 3rem;
        }
    }
    .og-dnd-drop-corner-top-left {
        top: 1rem;
        left: 1rem;
    }
    .og-dnd-drop-corner-top-right {
        top: 1rem;
        right: 1rem;

        svg {
            transform: rotate(90deg);
        }
    }
    .og-dnd-drop-corner-bottom-left {
        bottom: 1rem;
        left: 1rem;

        svg {
            transform: rotate(-90deg);
        }
    }
    .og-dnd-drop-corner-bottom-right {
        bottom: 1rem;
        right: 1rem;

        svg {
            transform: rotate(180deg);
        }
    }
}

.og-layout-dnd-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;

    > header {
        flex-grow: 0;
        flex-shrink: 0;
        // background: linear-gradient(to bottom, var(--og-background-color) 50%, rgba(255, 255, 255, 0.0) 100%);
        touch-action: none;
    }
    > .og-layout-dnd-center {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-shrink: 1;
        height: 0;
        max-height: 100%;

        > .og-sidebar-left {
            display: flex;
            flex-grow: 0;
            touch-action: pan-y;
            max-height: 100%;
        }
        > .og-sidebar-right {
            display: flex;
            flex-grow: 0;
            touch-action: pan-y;
            max-height: 100%;
        }
        > main {
            flex-grow: 1;
            touch-action: none;
            position: relative;
            z-index: 4;

            &:focus {
                outline: none;
            }

            &.og-custom-cursor {
                cursor: none;

                &.og-custom-cursor--crosshair {
                    cursor: crosshair;
                }

                &.og-custom-cursor--grabbing {
                    cursor: grabbing;
                }

                &.og-custom-cursor--move {
                    cursor: move;
                }

                &.og-custom-cursor--pointer {
                    cursor: pointer;
                }

                &.og-custom-cursor--text {
                    cursor: text;
                }

                &.og-custom-cursor--vertical-text {
                    cursor: vertical-text;
                }

                &.og-custom-cursor--zoom-in {
                    cursor: zoom-in;
                }

                &.og-custom-cursor--zoom-out {
                    cursor: zoom-out;
                }

                &.og-custom-cursor--ns-resize {
                    cursor: ns-resize;
                }

                &.og-custom-cursor--ew-resize {
                    cursor: ew-resize;
                }

                &.og-custom-cursor--nesw-resize {
                    cursor: nesw-resize;
                }

                &.og-custom-cursor--nwse-resize {
                    cursor: nwse-resize;
                }

                &.og-custom-cursor--eyedropper {
                    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-eyedropper' viewBox='0 0 16 16'%3E%3Cpath d='M13.354.646a1.207 1.207 0 0 0-1.708 0L8.5 3.793l-.646-.647a.5.5 0 1 0-.708.708L8.293 5l-7.147 7.146A.5.5 0 0 0 1 12.5v1.793l-.854.853a.5.5 0 1 0 .708.707L1.707 15H3.5a.5.5 0 0 0 .354-.146L11 7.707l1.146 1.147a.5.5 0 0 0 .708-.708l-.647-.646 3.147-3.146a1.207 1.207 0 0 0 0-1.708zM2 12.707l7-7L10.293 7l-7 7H2z'/%3E%3C/svg%3E"), auto;
                }
            }
        }
    }
    > footer {
        flex-grow: 0;   
        flex-shrink: 0;  
        touch-action: none;   
    }
}

.og-layout-dock {
    position: relative;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    height: calc(100% - 1rem);
    z-index: 4;

    &.og-layout-dock--resizing {
        cursor: ns-resize !important;

        button, a, * {
            cursor: ns-resize !important;
        }
    }

    .og-layout-dock__container {
        background: var(--og-layout-menu-bar-background-color);
        box-shadow: 0 0 0px 1px var(--og-layout-menu-bar-border-color), 0 0.3rem 1.5rem var(--og-layout-menu-bar-border-color);
        border-radius: 0.875rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        > .og-dock-title {
            padding: 0.75rem 1rem 0.35rem 1rem;
            text-align: center;
            flex-shrink: 1;
        }

        > .og-dock {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: hidden;

            > .og-dock-header {
                border-bottom: 2px solid var(--el-border-color-light);
            }

            > .og-dock-content {
                flex-grow: 1;
                overflow: hidden;

                &.is-spaced-between {
                    > .el-scrollbar {
                        > .el-scrollbar__wrap {
                            > .el-scrollbar__view {
                                min-height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                            }
                        }
                    }
                }
            }

            > .el-tabs {
                height: 100%;
                display: flex;
                flex-direction: column;

                > .el-tabs__header {
                    flex-shrink: 1;
                }

                > .el-tabs__content {
                    flex-grow: 1;

                    > .el-tab-pane {
                        height: 100%;
                    }
                }
            }
        }
    }

    .og-layout-dock__divider {
        cursor: ns-resize;
        height: .5rem;
    }

}

.og-layout-menu-bar {
    display: block;
    position: relative; // Necessary for z-index
    transition: all 0.6s;
    width: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    background: var(--og-layout-menu-bar-background-color);
    box-shadow: 0 0 0 0.063rem var(--og-layout-menu-bar-border-color);
    border-radius: 0.875rem;
    margin: 0.5rem;
    z-index: 10;
    transition: border-radius 0.2s;

    &.is-positioned-top.is-menu-drawer-open {
        border-radius: 0.875rem 0.875rem 0 0;
    }
    &.is-positioned-bottom.is-menu-drawer-open {
        border-radius: 0 0 0.875rem 0.875rem;
    }
    &.is-positioned-left.is-menu-drawer-open {
        border-radius: 0.875rem 0 0 0.875rem;
    }
    &.is-positioned-right.is-menu-drawer-open {
        border-radius: 0 0.875rem 0.875rem 0;
    }

    > .is-flex {
        .og-menu-section__title {
            display: flex;
            align-items: center;
            color: var(--el-text-color-regular);
            font-size: .675rem;
            margin: 0 .75rem 0 1rem;
            text-transform: uppercase;
            white-space: pre-wrap;
            
            img {
                width: 2.4rem;
            }

            @media screen and (max-width: 600px) {
                display: none !important;
            }
        }

        > .og-menu-favorites {
            flex: 1;
            display: flex;
        }

        > .og-menu-docks, > .og-menu-end {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            min-width: -webkit-min-content; /* Workaround to Chrome bug */
        }

        > .og-menu-tools {
            flex-shrink: 1;
            flex-grow: 0;
            display: flex;
            overflow: hidden;

            > .el-scrollbar {
                width: 100%;

                .el-scrollbar__view {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }

            .el-button {
                .el-icon {
                    color: var(--el-button-font-color);
                }
                &.el-button--primary.is-plain {
                    --el-button-font-color: var(--el-text-color-primary);
                }
            }
        }

        > .og-menu-end {
            justify-content: flex-end;
        }
    }

    .og-menu-section {
        .el-button-group, .og-single-button-group {
            margin: 0 0 0 0.375rem;
            width: max-content;
            position: relative;
            z-index: 5;

            &:last-child {
                margin-right: 0.375rem;
            }

            > .el-button {
                border-width: 0 !important;
                width: 2.5rem;
            }
        }
    }

    .el-button {
        height: fit-content;
    }

    .el-button--expanded-group {
        padding: .6rem .8rem !important;
    }

    .el-button--expanded-popover {
        box-shadow: 0 0 0 2px rgba(64, 158, 255, 0.3) inset;
    }

    @keyframes og-menu-bar-tool-group-expand-fade-in {
        0% { opacity: 0 }
        100% { opacity: 1 }
    }

    .og-menu-bar__tool-group-expand {
        position: absolute;
        display: flex;
        flex-direction: row;
        transform: translateY(-50%);
        background-color: var(--og-layout-menu-bar-background-color);
        color: var(--el-text-color-primary);
        border: none;
        padding: 0;
        position: absolute;
        left: 2.15rem;
        border-radius: 0 2rem 2rem 0;
        top: 0;
        z-index: 4;
        transition: top 0.2s, left 0.2s, padding 0.2s;
        animation: og-menu-bar-tool-group-expand-fade-in 0.2s forwards;

        .og-menu-bar__tool-group-expand__controls {
            display: flex;
            flex-direction: row;
            margin-left: 1.35rem;
            overflow: hidden;
            width: 0;
            transition: width 0.2s, margin 0.2s;

            button {
                background-color: var(--og-layout-menu-bar-background-color);
                color: var(--el-text-color-primary);
                padding: 0.75rem;
                border: none;
                border-radius: 2rem;
                margin: 0 0 0 0.35rem;
                height: 2.5rem;

                &.og-menu-bar__tool-group-expand__control--active {
                    box-shadow: 0 0 0 0.15rem var(--el-color-primary) inset;
                }

                &:hover {
                    background-color: var(--el-color-primary);
                    color: var(--el-color-white);
                    cursor: pointer;
                }
            }
        }

        .og-menu-bar__tool-group-expand__toggle-button {
            background-color: var(--og-layout-menu-bar-background-color);
            color: var(--el-text-color-primary);
            padding: 0.75rem 0.35rem 0.75rem 1.5rem;
            border: none;
            border-radius: 0 2rem 2rem 0;
            margin: 0;
            height: 2.5rem;
            width: 2.5rem;

            &:hover {
                background-color: var(--el-color-primary);
                color: var(--el-color-white);
                cursor: pointer;
            }
        }

        &.og-menu-bar__tool-group-expand--expanded {
            padding: 0.5rem;

            .og-menu-bar__tool-group-expand__controls {
                width: auto;
            }

            .og-menu-bar__tool-group-expand__toggle-button {
                border-radius: 2rem;
                padding: 0.35rem 0.35rem 0.35rem 0.35rem;
                margin: 0.4rem 0 0.4rem 0.75rem;
                height: auto;
                width: auto;
            }
        }
    }
    &.is-positioned-right .og-menu-bar__tool-group-expand {
        left: auto;
        right: 2.15rem;
        border-radius: 2rem 0 0 2rem;
        flex-direction: row-reverse;

        .og-menu-bar__tool-group-expand__controls {
            margin-left: 0;
            margin-right: 1.35rem;

            button {
                margin: 0 0.35rem 0 0;
            }
        }

        .og-menu-bar__tool-group-expand__toggle-button {
            padding: 0.75rem 1.5rem 0.75rem 0.35rem;
            border-radius: 2rem 0 0 2rem;
        }

        &.og-menu-bar__tool-group-expand--expanded {
            .og-menu-bar__tool-group-expand__toggle-button {
                border-radius: 2rem;
                padding: 0.35rem 0.35rem 0.35rem 0.35rem;
                margin: 0.4rem 0.75rem 0.4rem 0;
            }
        }
    }
    &.is-positioned-bottom .og-menu-bar__tool-group-expand {
        top: auto;
        left: auto;
        right: auto;
        bottom: 1.75rem;
        border-radius: 2rem 2rem 0 0;
        flex-direction: column-reverse;
        transform: translateX(-50%);

        .og-menu-bar__tool-group-expand__controls {
            flex-direction: column;
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 1.35rem;
            height: 0;
            width: auto;
            transition: height 0.2s, margin 0.2s;

            button {
                margin: 0 0 0.35rem 0;
            }
        }

        .og-menu-bar__tool-group-expand__toggle-button {
            padding: 0.35rem 0.75rem 1.5rem 0.75rem;
            border-radius: 2rem 2rem 0 0;
        }

        &.og-menu-bar__tool-group-expand--expanded {
            .og-menu-bar__tool-group-expand__controls {
                height: auto;
            }
            .og-menu-bar__tool-group-expand__toggle-button {
                border-radius: 2rem;
                padding: 0.35rem 0.35rem 0.35rem 0.35rem;
                margin: 0 0.4rem 0.75rem 0.4rem;
            }
        }
    }
    &.is-positioned-top .og-menu-bar__tool-group-expand {
        top: 1.75rem;
        left: auto;
        right: auto;
        bottom: auto;
        border-radius: 0 0 2rem 2rem;
        flex-direction: column;
        transform: translateX(-50%);

        .og-menu-bar__tool-group-expand__controls {
            flex-direction: column;
            margin-top: 1.35rem;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            height: 0;
            width: auto;
            transition: height 0.2s, margin 0.2s;

            button {
                margin: 0.35rem 0 0 0;
            }
        }

        .og-menu-bar__tool-group-expand__toggle-button {
            padding: 1.5rem 0.75rem 0.35rem 0.75rem;
            border-radius: 0 0 2rem 2rem;
        }

        &.og-menu-bar__tool-group-expand--expanded {
            .og-menu-bar__tool-group-expand__controls {
                height: auto;
            }
            .og-menu-bar__tool-group-expand__toggle-button {
                border-radius: 2rem;
                padding: 0.35rem 0.35rem 0.35rem 0.35rem;
                margin: 0.75rem 0.4rem 0 0.4rem;
            }
        }
    }

    &.is-vertical {
        height: calc(100% - 1rem);
        width: auto;

        > .is-flex {
            flex-direction: column;
            height: calc(100% - 1rem);

            > .og-menu-docks {
                justify-content: flex-start;
            }
            > .og-menu-end {
                justify-content: flex-end;
            }
            > .og-menu-tools {
                > .el-scrollbar {
                    width: 100%;

                    .el-scrollbar__view {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
            > .og-menu-docks, > .og-menu-tools, > .og-menu-end {
                align-items: center;
                flex-direction: column;
            }

            .og-menu-section {
                .og-menu-section__title {
                    color: var(--el-text-color-regular);
                    font-size: .675rem;
                    margin: .75rem 0;
                    text-transform: uppercase;
                    
                    img {
                        width: 2.4rem;
                    }

                    @media screen and (max-height: 600px) {
                        display: none !important;
                    }
                }

                .el-button-group, .og-single-button-group {
                    margin: 0.375rem 0 0 0;
                    height: max-content;

                    .el-button {
                        height: 2.5rem;
                        width: auto;
                    }

                    &:last-child {
                        margin-bottom: 0.375rem;
                    }
                }
            }
        }
    }
}
