.og-dock-popover {
    min-width: 0 !important;
    max-width: 90vw;
    max-height: calc(100vh - 5rem) !important;
    padding: 0 !important;
    width: auto !important;

    &.og-dock-popper--singleton {
        transition: transform 0.15s var(--el-transition-function-fast-bezier), opacity 0.15s var(--el-transition-function-fast-bezier);
    }

    > .og-dock-title {
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.5rem 1rem 0.35rem 1rem;
        margin: .25rem 0 0 0;
    }

    > .og-dock {
        max-height: calc(100vh - 5rem) !important;
        overflow: hidden !important;

        > .og-dock-header {
            border-bottom: 2px solid var(--el-border-color-light);
        }

        > .og-dock-content {
            width: 350px;
            max-width: 100%;

            > .el-scrollbar, > .el-scrollbar  {
                max-height: calc(100vh - 13rem) !important;
                overflow: hidden !important;

                > .el-scrollbar__wrap {
                    max-height: calc(100vh - 13rem) !important;
                }
            }
        }

        > .el-tabs {
            max-height: calc(100vh - 5rem) !important;
            overflow: hidden !important;

            > .el-tabs__content, > .el-tabs__content > .el-tab-pane, > .el-tabs__content > .el-tab-pane > .el-scrollbar {
                max-height: calc(100vh - 13rem) !important;
                overflow: hidden !important;
            }
            > .el-tabs__content > .el-tab-pane > .el-scrollbar > .el-scrollbar__wrap {
                max-height: calc(100vh - 13rem) !important;
                overflow: auto !important;
            }
        }
    }
}

.og-floating-docks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    z-index: 5; // Must be greater than main

    .og-floating-dock {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        background: var(--og-layout-menu-bar-background-color);
        box-shadow: 0 0 0px 1px var(--og-layout-menu-bar-border-color), 0 0.3rem 2rem var(--og-layout-menu-bar-shadow-color);
        border-radius: var(--og-border-radius-big);
        padding: 0;
        opacity: 0;
        transition: opacity 0.2s;

        &.og-floating-dock--visible {
            opacity: 1;
        }
    }

    .og-floating-dock__grip {
        display: flex;
        align-items: center;
        background: var(--el-bg-color-page);
        border-radius: var(--og-border-radius-big) 0 0 var(--og-border-radius-big);
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0.5rem;
        cursor: move;
    }

    .og-floating-dock__content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
    }
}