@keyframes og-history-notification-highlight {
    0% {
        outline: 0.25rem solid var(--el-color-warning);
        background: var(--og-history-notification-background-color-highlight);
    }
    100% {
        outline: 0.25rem solid transparent;
        background: var(--og-history-notification-background-color);
    }
}
@keyframes og-history-notification-fade-out {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, 1rem);
    }
}
.og-history-notification-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: var(--og-history-notification-overlay-z-index);

    &.og-history-notification-overlay--completed {
        pointer-events: none;

        .og-history-notification {
            animation: og-history-notification-fade-out 1.5s forwards !important;
        }
    }
}
.og-history-notification-container {
    position: absolute;
    left: #{"max(1rem, var(--og-sidebar-left-width, 1rem))"};
    right: #{"max(1rem, var(--og-sidebar-right-width, 1rem))"};
    bottom: var(--og-footer-height);
    padding: 0 0 1rem 0;
}
.og-history-notification {
    border-radius: 1rem;
    background: var(--og-history-notification-background-color);
    box-shadow: 0 0 0px 1px var(--og-history-notification-border-color), 0 0.3rem 2rem var(--og-history-notification-border-color);
    overflow: hidden;
    padding: 1rem 1.25rem;
    display: flex;
    max-width: 25rem;
    margin: 0 auto;
    animation: none;

    .bi {
        font-size: 2rem;
        align-self: center;
        margin-right: 1rem;

        &.bi-clock-history {
            color: var(--el-color-warning);
        }
        &.bi-check-circle {
            color: var(--el-color-success);
        }
    }
    h2 {
        margin: 0 0 .1rem 0;
        font-size: 1rem;
        font-weight: bold;
    }
    p {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &.og-history-notification--highlight {
        animation: og-history-notification-highlight 1s forwards;
    }
}