.og-module-layer-blending-mode__image-preview {
    background: url("../images/module/layer/blending-mode/blend-demo-transparent.png");
    border-radius: 0.75rem;
    width: 100%;
    height: auto;
    max-width: 10rem;
}