.og-text-editor {
    display: block;
    position: absolute;

    .og-text-editor__selection {
        display: block;
        position: absolute;
        transform-origin: 0 0 0;
    }
    .og-text-editor__selection__cursor {
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
        animation: og-text-editor-selection-cursor-blink 1.5s linear infinite;

        @keyframes og-text-editor-selection-cursor-blink {
            0% {
                opacity: 1;
            }
            59% {
                opacity: 1;
            }
            60% {
                opacity: 0;
            }
            100% {
                opacity: 0;
            }
        }

        &.og-text-editor__selection__cursor--no-blink {
            animation: none;
            opacity: 1;
        }
    }
}

.og-text-selection {
    display: block;
    position: absolute;

    .og-text-selection__box {
        display: block;
        position: absolute;
        background: white;
    }
}
