.og-gradient-editor {
    display: block;
    position: relative;
    padding-bottom: 2rem;
    width: 100%;

    .og-gradient-editor__preview {
        display: block;
        position: relative;
        width: 100%;
        height: 2.5rem;
        overflow: hidden;
        box-shadow: 0 0 0 1px var(--el-border-color);
        border-radius: 0.5rem;

        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 0.5rem;
            z-index: 0;
        }
        &:before {
            background-image: url("../images/transparency-bg.png");
        }
        &:after {
            background-image: var(--gradient);
        }

        .og-gradient-editor__add-position {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            background: black;
            width: 1px;
            border: 1px solid white;
            transform: translateX(-50%);
            z-index: 1;
        }
    }

    .og-gradient-editor__stop-marker {
        --stop-marker-border-color: var(--og-border-color-high-contrast);
        --stop-marker-background-color: var(--og-background-color);

        position: absolute;
        border-radius: 0 0 0.25rem 0.25rem;
        background: var(--stop-marker-background-color);
        box-shadow: 0 1px 0 1px var(--stop-marker-border-color);
        width: 0.85rem;
        height: 0.85rem;
        transform: translate(-50%, 0.75rem);
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            background: var(--stop-marker-background-color);
            box-shadow: 0px 0px 0 1px var(--stop-marker-border-color);
            width: 0.55rem;
            height: 0.55rem;
            transform: translate(0.425rem, -0.4rem) rotate(45deg);
            transform-origin: top left;
            z-index: 0;
        }

        &:after {
            content: '';
            box-sizing: border-box;
            border: 0.125rem solid var(--stop-marker-background-color);
            border-radius: 0 0 0.25rem 0.25rem;
            background-image: url("../images/transparency-bg.png");
            background-size: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
        }

        .og-gradient-editor__stop-marker__color {
            content: '';
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            border: 0.125rem solid var(--stop-marker-background-color);
            border-radius: 0 0 0.25rem 0.25rem;
            background: var(--stop-color, '#000000');
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;

            .bi {
                color: white;
                font-size: 0.75rem;
            }
        }

        &:hover {
            --stop-marker-border-color: var(--el-color-primary);
        }
        &:focus {
            --stop-marker-border-color: var(--el-color-primary);
            outline: none;
        }

        &.is-active {
            --stop-marker-background-color: var(--el-color-primary);
            --stop-marker-border-color: var(--el-color-white);
        }
    }
}

.og-toolbar-draw-gradient-stop-drawer__editor-preview-section {
    padding: 1.5rem 1.25rem 0.875rem 1.25rem;
    margin: 0 -1.25rem;
    background: var(--og-background-color-secondary);
    border-top: 1px solid var(--el-border-color);
}
.og-toolbar-draw-gradient-stop-drawer__editor-stop-form {
    position: relative;
    padding: 0 1.25rem 0 1.25rem;
    margin: 0 -1.25rem;
    border-bottom: 1px solid var(--el-border-color);
    box-shadow: 0 -0.125rem 0.625rem rgba(0,0,0,0.05);

    .og-toolbar-draw-gradient-stop-drawer__editor-stop-form__selection-indicator-container {
        display: block;
        position: relative;
        padding: 0;
    }
    .og-toolbar-draw-gradient-stop-drawer__editor-stop-form__selection-indicator {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0; 
        height: 0; 
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-bottom: 0.5rem solid var(--og-layout-menu-bar-background-color);
        transform: translate(-50%, -100%);
        transition: left 0.1s;
    }

    .el-horizontal-scrollbar-arrows {
        margin: 0 -1.25rem;
        .el-scrollbar {
            flex-grow: 1;
            .el-scrollbar__view > .flex {
                margin: 0 auto;
                justify-content: center;
                .el-input-group {
                    width: auto;
                }
            }
        }
    }
}
.og-toolbar-draw-gradient-stop-drawer__presets {
    display: flex;
    flex-direction: column;
    height: 0;
    flex-grow: 1;

    > h3 {
        margin: 1rem 0 0.5rem 0;
    }

    > .el-scrollbar {
        margin: 0 -1.25rem;
        flex-grow: 1;

        .el-scrollbar__view {
            padding: 0.25rem 1.25rem;
        }
    }
}

.el-dialog .og-dock > .og-toolbar-draw-gradient-stop-drawer.og-dock-content {
    padding: 0 1.25rem;
    .og-toolbar-draw-gradient-stop-drawer__presets {
        min-height: 13rem;
    }
}